<div id="bookings" class="first-bookings">
	<div class="first-bookings__contenido first-bookings__container">
		<!-- prettier-ignore -->
		@@include('./header-section.html', {
		"title": "GET 20% OFF ON FIRST 10 BOOKINGS",
		"subtitle": "Enter your email to get 20% off instantly",
		"description": "" })

		<form class="formulario">
			<input
				type="email"
				class="formulario__input"
				placeholder="Email@example.com"
				required
			/>
			<input
				type="submit"
				class="formulario__input formulario__submit"
				value="SEND OFFER"
			/>
		</form>
	</div>
</div>
