<div id="footer" class="footer">
	<div class="footer__contenido footer__container">
		<div class="footer__nav">
			<ul class="footer__section">
				<li class="footer__item footer__item--bold">Who we are</li>
				<li class="footer__item">About us</li>
				<li class="footer__item">Guide Training & Safety</li>
				<li class="footer__item">Our Guides</li>
				<li class="footer__item">Office Team</li>
				<li class="footer__item">Our Credentials</li>
				<li class="footer__item">Blog</li>
				<li class="footer__item">Videos</li>
			</ul>
			<ul class="footer__section">
				<li class="footer__item footer__item--bold">Our Environment</li>
				<li class="footer__item">Enviroment Policy</li>
				<li class="footer__item">Reponsible Tourism</li>
				<li class="footer__item">Carbon Emissions</li>
				<li class="footer__item">Environment Fund</li>
				<li class="footer__item">Environment Awards</li>
			</ul>
			<ul class="footer__section">
				<li class="footer__item footer__item--bold">Our Info</li>
				<li class="footer__item">Pick up locations</li>
				<li class="footer__item">Terms of Payment</li>
				<li class="footer__item">Privacy Policy</li>
				<li class="footer__item">Difficulty Levels</li>
				<li class="footer__item">Where to Find Us</li>
				<li class="footer__item">Hawaii Glacier Hike Guide</li>
			</ul>
			<ul class="footer__section">
				<li class="footer__item footer__item--bold">Contact Us</li>
				<li class="footer__item">Syed Miraj</li>
				<li class="footer__item">Phone +8801622373266</li>
				<li class="footer__item">Mail- example@mail.com</li>
				<li class="footer__item">Addres-Sylhet</li>
				<li class="footer__item">Bangladesh</li>
			</ul>
		</div>

		<p class="footer__copyright text-center">
			Todos los derechos reservaos &copy; Travel
		</p>
	</div>
</div>
