<div id="footer" class="footer">
	<div class="footer__contenido footer__container">
		<div class="footer__nav">
			<!-- prettier-ignore -->
			@@loop('./footer-section.html', [
			{
			"title": "Who we are",
			"arr": [
			"About us",
			"Guide Training & Safety",
			"Our Guides",
			"Office Team",
			"Our Credentials",
			"Blog",
			"Videos"]
			}
			])

			<!-- prettier-ignore -->
			@@loop('./footer-section.html', [
			{
			"title": "Our Environment",
			"arr": [
			"Enviroment Policy",
			"Reponsible Tourism",
			"Carbon Emissions",
			"Environment Fund",
			"Environment Awards"]
			}
			])

			<!-- prettier-ignore -->
			@@loop('./footer-section.html', [
			{
			"title": "Our Info",
			"arr": [
			"Pick up locations",
			"Terms of Payment",
			"Privacy Policy",
			"Difficulty Levels",
			"Where to Find Us",
			"Hawaii Glacier Hike Guide"
			]
			}
			])

			<!-- prettier-ignore -->
			@@loop('./footer-section.html', [
			{
			"title": "Contact Us",
			"arr": [
			"Syed Miraj",
			"Phone +8801622373266",
			"Mail- example@mail.com",
			"Addres-Sylhet",
			"Bangladesh"
			]
			}
			])
		</div>

		<p class="footer__copyright text-center">
			Todos los derechos reservaos &copy; Travel
		</p>
	</div>
</div>
